/* header */

.header-bg{
	background-color: #274390;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    right: 0px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #fff;
}
.search-bar-btn {
    background: #ed5530;
    color: #fff;
    margin: 3px;
    border-radius: 5px;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
}
.search-bar {
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    height: 38px;
    border-radius: 5px !important;
    width: 300px !important;
    padding-left: 10px !important;
}

.header-dropdown{
    min-width: 35rem;
    margin: 25px 0 0;
    left: -235px !important;
    padding: 30px 0px;
    background-color: #f0f2f6;
    border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
li.nav-item.dropdown.show::after{
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 13px 13px;
    top: 41px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}
.services-dropdown-item{
    font-size: 12px;
    padding: 13px 30px;
}

/* end of header */

.content{
    margin-top:105px;  /* header with the header height */
}
.topa {
    display: inline-block;
    background: #274390;
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 9;
}

/* Login And Register Pages */

.signup-checkbox{
    top: 2px !important;
}
label {
    display: inline-block;
    margin-bottom: 1px !important;
}
.inputWithIcon {
    position: relative;
}
.form-control {
    font-size: 13px;
}
.inputWithIcon i {
    position: absolute;
    right: 0px;
    top: 3px;
    padding: 9px 8px;
    color: #495057;
    transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i {
    color: rgb(255, 255, 255);
}
.login-container, .register-container{
    position: absolute;
    left: 8%;
    right: 8%;
    top: 10%;
    bottom: 10%;
    background: #fff;
    border-radius: 20px;
}
.language-select {
    padding: 7px 15px;
    border-radius: 5px;
}

/* Home Page */

.home-banner{
    background: url('../images/home-ban.jpg') no-repeat center;
    background-size:cover;
    height:50%;
}
.property-filter-block{
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 4%) !important;
}
.filter-bottom-line{
    border-bottom: 1px solid #dee2e6 !important;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.home-property-filter-block{
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 4%) !important;
}
.property-filter{
    text-decoration: none !important;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-bottom: 4px solid #34c2f2;
    font-size: 18px;
}
.property-filter-active{
    border-bottom: 4px solid #ed5530;
}
a.property-filter:hover{
    color: #fff;
}
a.property-filter-active{
    color: #fff;
}
.property-nav-item{
	cursor: pointer;
}
a.property_navlink {
    color: #6c757d;
    padding: 5px 0px;
}
li.nav-item.property-nav-item.d-inline-flex{
	padding: 5px 15px;
}
.navbar .navbar-nav > li > a{
	color: #6c757d;
    padding: 5px 0px;
    text-decoration: none;
}
.active_tab_btn {
    color: #007bff !important;
    border-bottom: 2px solid #007bff;
}
.home-search-bar{
	font-size: 13px;
    font-family: 'Rubik', sans-serif;
    height: 41px;
    width: 100%;
    border-radius: 5px !important;
    padding-left: 35px !important;
    border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.home-page-search {
	position: absolute;
	left: 0;
	top: 2px;
}
.home-page-search-btn{
	position: absolute;
    right: 5px;
    top: 5px;
}
.buy-btn{
    color: #555;
    background-color: #fff;
    border-color: #fff;
    padding: 7px 25px !important;
    font-size: 14px !important;
    box-shadow: -4px -3px 15px #ededed;
    border-radius: 0px;
    border-top-left-radius: 5px;
}
.sell-btn{
    color: #fff;
    background-color: #ed5530;
    border-color: #ed5530;
    padding: 7px 25px !important;
    font-size: 14px !important;
    border-top-right-radius: 5px !important;
    border-radius: 0px;
}
.rent-btn{
    color: #fff;
    background-color: #ed5530;
    border-color: #ed5530;
    padding: 7px 25px !important;
    font-size: 14px !important;
    border-radius: 0px !important;
}
.filt{
    width: 23%;
    padding: 10px 15px;

}
.filt-send-btn{
    width: 8%;
}
.send-btn{
    color: #fff;
    background-color: #ed5530;
    border-color: #ed5530;
    border-radius: 5px !important;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    position: absolute;
    bottom: 30px;
}
.rating-block{
    display: block;
}
.view-details-btn-block{
    display: none;
}
.new-project-card-block:hover .view-details-btn-block{
    display: block;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.view-details-btn{
    color: #fff !important;
    background-color: #274390;
    border-color: #274390;
    border-radius: 0px 0px 10px 10px !important;
    padding: 9px 15px;
}
/*.new-project-card-block{
    background-color: #fff;
}*/
.new-projects-navbar{
    white-space: nowrap !important;
    overflow: auto !important;
    padding-left: 0px;
}
.new-project-card-block:hover{
    cursor: pointer;
}
.new-project-card-block:hover .view-details-btn-block{
    border-radius: 10px !important;
}
.new-project-card-block:hover .rating-block{
    display: none;
}
.new-project-card{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 10px;
    background-color: #fff;
}
.benifit-icon{
    width: 30px;
}
.benifits-section-card{
    height: 145px;
    padding: 35px 25px;
    color: #767676;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.benifits-section{
    /*background: linear-gradient(transparent 60%, #6650f0 60%) no-repeat;
    height: 270px;*/
    background: linear-gradient(transparent 50%, #6650f0 50%) no-repeat;
    height: 210px;
    width: 100%;
}
.benifits-section i{
    color: #6650f0; 
    font-size: 25px;
}
.download-app-bg{
    background-color: #7bc678;
}
.benifit-card1{
    border-top: 5px solid #ff5271;
}
.benifit-card2{
    border-top: 5px solid #d333fb;
}
.benifit-card3{
    border-top: 5px solid #4fe7a7;
}
.benifit-card4{
    border-top: 5px solid #ffa141;
}

/* end of home page */

/* Search Property */

.radio-btn-position{
    position: absolute;
    top: 3px;
}
button#card-btn:focus {
    background: #ed5530;
    color: #fff;
}
.filters-scroll{
    padding-bottom: 45px;
    z-index: 999;
}

.filters-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.filters-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.filters-scroll::-webkit-scrollbar-thumb {
  background: #6878a5; 
}

/* Handle on hover */
.filters-scroll::-webkit-scrollbar-thumb:hover {
  background: #274390;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0px !important;
}
.bg-transparent-select{
    font-size: 13px;
    background-color: transparent !important;
    border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    height: 36px;
}
.like-btn{
    border: 2px solid #274390 !important;
    color: #274390;
}
.contact-btn{
    background-color: #ffbb44;
    color: #fff;
    padding: 7px 20px;
    box-shadow: 0 0.5rem 1rem rgb(251 216 145) !important
}
.card-view-details-btn{
    background-color: #ffbb44;
    color: #fff;
    padding: 7px 20px;
    box-shadow: 0 0.5rem 1rem rgb(251 216 145) !important
}
.list-btn, .view-btn{
    color: #000 !important;
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 5px !important;
    font-weight: bold;
    padding: 8px 13px !important;
    font-size: 13px;
}
.list-btn:focus, .view-btn:focus, .share-btn_n_like-btn:focus, .sell-btn:focus, .rent-btn:focus{
    box-shadow: none !important;
}
.btn-highlight{
    background: #ed5530;
    border:  1px solid #ed5530;
    color: #fff !important;
}
.bg-icons{
    background: #274390;
    color: #fff;
    text-align: center;
    font-size: 8px;
    padding: 5px 4px;
    border-radius: 100%;
}
.bg-success-icon{
    background-color: #28a745 !important;
    color: #fff;
    text-align: center;
    font-size: 8px;
    padding: 5px 6px;
    border-radius: 100%;
}
.mobile-bg-icon{
    background-color: #47b7da !important;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 6px 9px;
    border-radius: 100%;
}
.email-bg-icon{
    background-color: #274390 !important;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 6px 6px;
    border-radius: 100%;
}
.dot {
    margin: auto 5px;
    height: 2px;
    width: 2px;
    background-color: #000000;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: -3px;
}

/* End of Search Property Page */

/* Property Details Page */

.user-details{
    color: #6c757d !important;
    position: absolute;
    left: 125px;
}
.property-image{
    height: 120px;
    width: 100%;
}
.share-btn_n_like-btn{
    color: #000;
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 5px !important;
    font-weight: bold;
    padding: 8px 13px !important;
    font-size: 13px;
}

/* End of Property Details Page */

/* Post property */

input[type="checkbox"] {
    position: absolute;
    top: 18px;
}
.form-group {
    margin-bottom: 15px;
}
.p-radio-btn{
    position: absolute;
    top: 2px;
}
::placeholder {
  color: #ccc !important;
  font-size: 12px;
  font-weight: normal;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ccc !important;
 font-size: 12px;
 font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ccc !important;
 font-size: 12px;
 font-weight: normal;
}

/* End of Post property */

/* Services Page */

.category-icon{
    width: 50px;
}
.category-block{
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%) !important;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 127px;
    display: flex;
}
.register-category-block {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%) !important;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 90px;
    display: flex;
}
.register-category-icon{
    width: 35px !important;
}
.category-block:hover{
    background-color: #ed5530;
    cursor: pointer;
}
.category-name{
    color: #767676;
}
.category-block:hover .category-name, .category-block:focus .category-name, .category-block:active .category-name{
    color: #fff !important;
} 
.services-need-icon{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

/* End of Services Page */

/* Services Inner */

.zip-codee{
    height: 45px;
    line-height: 45px;
    background: #f1f1f1;
    border-radius: 15px;
    border: none;
}
.zipcodee-arrow{
    top: 5px !important;
    font-size: 15px;
}
.btn-green{
    color: #fff;
    background-color: #4c8962;
    border-color: #4c8962;
    padding: 13px 10px;
    border-radius: 15px;
}
.request-service-block{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 0px 0px 30px 30px;
}
.grease-drop-styles{
    background: #e8e8e8;
    padding: 9px 15px;
    border-radius: 10px;
    color: #4c8962;
    font-size: 15px;
}
.service-location-input{
    border: none;
    height: 38px;
    width: 330px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.find-location-btn{
    height: 38px;
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    font-size: 13px !important;
    color: #fff;
    background-color: #dc3545;
    padding: 10px 20px;
}

/* End of Services Inner Page */

/* Category View */

.categories-sidemenu li a{
    color: #767676;
    font-size: 12px;
    padding: 13px 15px;
    display: flex;
    text-decoration: none;
}
.categories-sidemenu li a:hover{
    background-color: #274390;
    color: #fff;
    cursor: pointer;
}
.category_active_tab{
    background-color: #274390;
    color: #fff !important;
}
.
/* End of Category View */

/* Register As Faculty */

.register-category-block:hover a .register-category-name{
    color: #fff !important;
}
.service-category-active{
    background-color: #ed5530 !important;
}
.service-category-active a .register-category-name{
    color: #fff !important;
}
.register-category-name{
    color: #767676;
}


/* End of Register As Faculty */

/* footer */

footer{
    background-color: #274390;
    color: #fff;
    text-align: left;
    margin-top: 40px;   
}
footer h6{
    margin-bottom: 20px;
}
footer ul li{
    padding-bottom: 10px;
}
footer ul li a{
    color: #a19c9c;
}
footer ul li a:hover{
    color: #a19c9c;
}
.social-media-icons a{
    color: #fff;
    padding-right: 15px;
}
.social-media-icons a i{
    font-size: 25px;
}

/* end of the footer */

@media (width:768px) and (height:1024px) {

}

@media (max-width: 768px){
    .home-banner{
        background: url('../images/home-ban.jpg') no-repeat center;
        background-size:cover;
        height:50vh;
    }
    .search-bar{
        width: 100% !important;
    }
    .content {
        margin-top: 100px !important;
    }
    .filt{
        width: 45% !important;
        padding: 10px 10px;
    }
    .filt-send-btn{
        width: 8%;
        padding: 0px !important;
    }
    .filters-scroll{
		overflow-y: auto;
	    height: 90vh;
	    position: relative;
	}
	.px-md-0{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
    .benifits-section {
        height: auto;
    }
    .benifits-section .container-fluid{
        background: #6650f0; 
    }
}
@media (min-width: 576px) and (max-width: 767.9px){
    .benifits-section-card {
        height: 163px;
    }
    .filt{
        width: 80% !important;
        padding: 10px 10px;
    }
    .filt-send-btn{
        width: 8%;
        padding: 0px !important;
    }
}
@media (max-width: 767.9px){
    .header-dropdown {
        min-width: 100%; 
        margin: 25px 0 0;
        left: 0px !important; 
        padding: 30px 0px;
        background-color: #f0f2f6;
        border: none;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        overflow-y: auto;
        height: 60vh;
        overflow-x: hidden;
    }
    
}
@media (max-width:  576px){
	.benifits-section-card{
        height: 150px;
    }
    .filt{
        width: 80% !important;
        padding: 10px 10px;
    }
    .filt-send-btn{
        width: 8%;
        padding: 0px !important;
    }
    .new-project-card {
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        -moz-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        background-color: #fff;
        width: 300px;
    }
    .fs-sm-18{
        font-size: 18px !important;
    }
}
@media (max-width: 320px){
    .filt{
        width: 80% !important;
        padding: 10px 10px;
        font-size: 12px;
    }
    .filt-send-btn{
        width: 8%;
        padding: 0px !important;
        font-size: 12px;
    }
}